# OS / Editor junk
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Julia
*.jl.cov
*.jl.*.cov
*.jl.mem
*.ji
*.so
Manifest.toml
TensorTest.jl
Impurity Algorithm/.ipynb_checkpoints/
Impurity Algorithm/checkImpurity.jl
Impurity Algorithm/testImpTRG.jl
Sandbox

# Not include manually
test.jl
testimpurity.jl